* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
}

.wrapper {
    background-color: #a18eb9c9;
    color: white;
    width: 450px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

.create-from {
    height: 40px;
    width: 100%;
    margin: 25px 0;
    border: 1px solid #ccc;
    display: flex;
    /* 並排 */
}

.create-from>input {
    outline: none;
    border: none;
    background: none;
    /* 拿掉背景用這個 */
    color: white;
    width: 100%;
    height: 100%;
    padding-left: 10px;
}

.create-from>button {
    border: none;
    background-color: #ccc;
    color: #333;
    width: 50px;
    height: 100%;
    /* 滑鼠形狀 */
    cursor: pointer;
}

/* Todo列表 */
.todo {
    background-color: #491f5470;
    color: #333;
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px; /* 圓角 */
    display: flex;
    justify-content: space-between;
    align-items: center; /* 垂直居中 */
}

/* 點擊Todo內容的變化 - 完成或取消的狀態 */
.completed {
    opacity: .6;
    text-decoration: line-through 3px red; /* 不打就是單線 */

    
}